.body {
    background-color: #242742;
}

.container {
    height: 100%;
    background-color: #242742;

    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 15px;
        width: 60vw;

        .form {
            display: flex;
            flex-direction: column;
            margin: 0 2.5em 0 2.5em;
            justify-content: center;

            h1 {
                color: #242742;
                font-size: 48px;
                font-weight: 600;
                margin-bottom: 0.5em;
            }

            p {
                font-size: 18px;
            }

            ul {
                margin: 1em 0 1em 0;
                
                li {
                    font-size: 18px;

                    i {
                        margin-right: 0.5em;
                        color: #FF6155;
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;

                .form-labels {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .email {
                        color: #242742;
                        font-weight: 600;
                    }

                    .validation {
                        color: #FF6155;
                        font-weight: 600;
                    }
                }

                #email {
                    margin-bottom: 1em;
                }

                #submit {
                    background-color: #242742;
                }

                #submit:hover {
                    background-color: #FF6155;
                    border-color: #FF6155;
                }
            }
        }

        .form-illustration {
            margin: 1em;
        }
    }

    .success-form {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-color: #FFFFFF;
        border-radius: 15px;
        height: 60vh;
        width: 30vw;

        .success-container {
            margin: 2em;

            img {
                margin-bottom: 0.25em;
            }

            h1 {
                color: #242742;
                font-size: 48px;
                font-weight: 600;
                margin-bottom: 0.5em;
            }

            p {
                #user-email {
                    font-weight: bold;
                }
                margin-bottom: 1em;
            }

            button {
                margin-top: 0.5em;
                width: 100%;
                background-color: #242742;
                border-color: #242742;
                outline: solid 4px #242742;
                color: #FFFFFF;
            }

            button:hover {
                background-color: #FF6155;
                border-color: #FF6155;
                outline: solid 4px #FF6155;
            }
        }
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
        position: fixed;
        bottom: 0;
        width: 100%;
        color: #FFFFFF;
    }
    .attribution a { color: hsl(228, 45%, 44%); }
}